# Byte-compiled / optimized / DLL files
__pycache__/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

ngrok_deploy.txt
ngrok_logs.txt
postgres_logs_utf8.txt
postgres_logs.txt
prometheus_deploy.txt
prometheus_rs.txt
kubeconfig_portable_fixed
all_pods_status_ascii.json
all_pods_status.json
database_app_status.json
database_status_ascii.json
database_status.json
ngrok_app_status.json
ngrok_status_ascii.json
ngrok_status.json
kubeconfig_for_jenkins
kubeconfig_test
kubeconfig_for_jenkins2
check_prom_labels.py
analyze_metrics.py
diagram_v2.py