# Byte-compiled / optimized / DLL files
__pycache__/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

ngrok_deploy.txt
ngrok_logs.txt
postgres_logs_utf8.txt
postgres_logs.txt
prometheus_deploy.txt
prometheus_rs.txt
kubeconfig_portable_fixed